body {
  margin: 0px;
  font-family: Arial;
  background: white;
  color: black;
}

.top {
  padding: 12px;
  background: lightskyblue;
  color: black;
}

.navbar {
  display: block;
  padding: 3px;
  background: lightblue;
}

.navbar a {
  color: black;
  margin: 2px;
}

.container {
  width: 1400px;
  margin-left: 0;
}

.cards {
  display: block;
}

.card {
  width: 600px;
  display: inline-block;
  padding: 5px;
  margin: 3px;
  border: 1px solid black;
}

img {
  width: 600px;
}

.btn-primary {
  background: red;
  color: orange;
}

@media (max-width: 768px) {
  .cards {
    display: flex;
  }
}
